
<div class="site-content pt0 pb0" style="background-color: #122234;">
  <section class="homesection section has-shape background-auto-center opt120 overflow-hidden">
      <div class="container">
          <div class="row flex-align-c">
          </div>
      </div>
  </section>
  <section class="section">
      <div style="padding: 20px;">
          <div class="row">
              <div class="col-lg-4">
                  <div class="CustomBox">
                      <p class="text-center">Complete System</p>
                      <div class="row">
                          <div class="col-lg-6">
                              <img src="../../../assets/image/image01.png" style="width: 150px; height: auto;">
                          </div>
                          <div class="col-lg-6">
                              <div id="chartContainer0" _echarts_instance_="ec_1719399727322" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 184px; height: 180px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                                <div>
                                  <canvas #chart7 calss="chart"></canvas>
                                </div>
                              </div>
                              <div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgb(255, 255, 255); border-width: 1px; border-radius: 4px; color: rgb(102, 102, 102); font: 14px / 21px">10</div></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-8">
                  <div class="CustomBox">
                      <div class="block-testimonial layout-05 nav-layout-02">
                          <div class="swiper uxp-swiper-slider testimonial-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden" data-navigation-next="navigation-next" data-navigation-prev="navigation-prev" data-direction="horizontal" data-slider-center="false" data-slider-loop="false" data-gap-xl="30" data-gap-md="10" data-xl="3" data-lg="3" data-md="1" data-sm="1" data-xs="1" data-es="1">
                              <div class="swiper-wrapper" style="display: flex;" aria-live="polite">
                                  <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 4" style="width: 229.333px; margin-right: 30px;">
                                      <div class="item">
                                          <div class="param">
                                              <h4>55</h4>
                                              <p>TSS</p>
                                              <div>Chem Precipitation</div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 4" style="width: 229.333px; margin-right: 30px;">
                                      <div class="item">
                                          <div class="param">
                                              <h4>47</h4>
                                              <p>COD reduction</p>
                                              <div>ASP</div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide" role="group" aria-label="3 / 4" style="width: 229.333px; margin-right: 30px;">
                                      <div class="item">
                                          <div class="param">
                                              <h4>1500</h4>
                                              <p>MLSS</p>
                                              <div>ASP</div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="swiper-slide" role="group" aria-label="4 / 4" style="width: 229.333px; margin-right: 30px;">
                                      <div class="item">
                                          <div class="param">
                                              <h4>700</h4>
                                              <p>Bottom SV</p>
                                              <div>Clarifier</div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div style="padding: 20px;">
          <div class="row">
              <div class="col-lg-2">
                  <div class="CustomBox clickBox1">
                      <p class="box-title1">Chem Precipitation</p>
                      <div>
                        <canvas #chart1 calss="chart"></canvas>
                      </div>
                      <div id="chartContainer1" _echarts_instance_="ec_1719399727323" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 184px; height: 180px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="276" height="270" style="position: absolute; left: 0px; top: 0px; width: 184px; height: 180px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                  </div>
              </div>
              <div class="col-lg-2">
                  <div class="CustomBox clickBox2">
                      <p class="box-title1">PH  Adjustment</p>
                      <div>
                        <canvas #chart2 calss="chart"></canvas>
                      </div>
                      <div id="chartContainer2" _echarts_instance_="ec_1719399727324" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 184px; height: 180px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="276" height="270" style="position: absolute; left: 0px; top: 0px; width: 184px; height: 180px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                  </div>
              </div>
              <div class="col-lg-2">
                  <div class="CustomBox clickBox3">
                      <p class="box-title1">ASP</p>
                      <div>
                        <canvas #chart3 calss="chart"></canvas>
                      </div>
                      <div id="chartContainer3" _echarts_instance_="ec_1719399727325" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 184px; height: 180px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="276" height="270" style="position: absolute; left: 0px; top: 0px; width: 184px; height: 180px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                  </div>
              </div>
              <div class="col-lg-2">
                  <div class="CustomBox clickBox4">
                      <p class="box-title1">Clarifier</p>
                      <div>
                        <canvas #chart4 calss="chart"></canvas>
                      </div>
                      <div id="chartContainer4" _echarts_instance_="ec_1719399727326" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 184px; height: 180px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="276" height="270" style="position: absolute; left: 0px; top: 0px; width: 184px; height: 180px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                  </div>
              </div>
              <div class="col-lg-2">
                  <div class="CustomBox clickBox5">
                      <p class="box-title1">Ultra Filtration</p>
                      <div>
                        <canvas #chart5 calss="chart"></canvas>
                      </div>
                      <div id="chartContainer5" _echarts_instance_="ec_1719399727327" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 184px; height: 180px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="276" height="270" style="position: absolute; left: 0px; top: 0px; width: 184px; height: 180px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                  </div>
              </div>
              <div class="col-lg-2">
                  <div class="CustomBox clickBox6">
                      <p class="box-title1">RO</p>
                      <div>
                        <canvas #chart6 calss="chart"></canvas>
                      </div>
                      <div id="chartContainer6" _echarts_instance_="ec_1719399727328" style="user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;"><div style="position: relative; width: 184px; height: 180px; padding: 0px; margin: 0px; border-width: 0px;"><canvas data-zr-dom-id="zr_0" width="276" height="270" style="position: absolute; left: 0px; top: 0px; width: 184px; height: 180px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <section class="section">
      <div style="padding: 20px;">
          <div class="row">
              <div class="col-lg-4">
                  <div class="alertTitle"><img src="../../../assets/image/alertIcon01.png">PM Alerts</div>
                  <div class="AlertsBox">
                      <table>
                          <thead>
                              <tr class="light-theme-bg">
                                  <th class="light-theme-bg">Alert Name</th>
                                  <th class="light-theme-bg">Suggested Action</th>
                                  <th class="light-theme-bg">Alert Date</th>
                              </tr>
                          </thead>
                      </table>
                      <table class="AlertsBody">
                          <tbody>
                              <tr>
                                  <td>PM for FEED PUMP (P16-A) DISCHARGE PI</td>
                                  <td>
                                      1) Inspect seals, gaskets, and other connections for wear, damage, or leaks. Replace any components that show signs of deterioration.<br>
                                      2) Pressure Range Verification and Calibration of instrument
                                  </td>
                                  <td>2024-04-25 10:00:00</td>
                              </tr>
                              <tr>
                                  <td>PM for FEED PUMP (P19-A) DISCHARGE PI</td>
                                  <td>
                                      1) Inspect seals, gaskets, and other connections for wear, damage, or leaks. Replace any components that show signs of deterioration.<br>
                                      2) Pressure Range Verification and Calibration of instrument
                                  </td>
                                  <td>2024-04-10 10:00:00</td>
                              </tr>
                              <tr>
                                  <td>PM for FEED PUMP (P21-A) DISCHARGE PI</td>
                                  <td>
                                      1) Inspect seals, gaskets, and other connections for wear, damage, or leaks. Replace any components that show signs of deterioration.<br>
                                      2) Pressure Range Verification and Calibration of instrument
                                  </td>
                                  <td>2024-04-15 10:00:00</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="alertTitle"><img src="../../../assets/image/alertIcon01.png">Module Alerts</div>
                  <div class="AlertsBox">
                      <table>
                          <thead>
                              <tr class="light-theme-bg">
                                  <th class="light-theme-bg">Alert Name</th>
                                  <th class="light-theme-bg">Suggested Action</th>
                                  <th class="light-theme-bg">Alert Date</th>
                              </tr>
                          </thead>
                      </table>
                      <table class="AlertsBody">
                          <tbody>
                              <tr>
                                  <td>ASP module is deteriorating</td>
                                  <td>
                                      1. Optimize waste sludge withdrawal.<br>
                                      2. Increase influent flow rate.<br>
                                      3. Improve aeration efficiency.<br>
                                      4. Optimize F:M ratio<br>
                                      5. Enhance biomass retention in clarifier<br>
                                      6. Enhance return activated sludge (RAS) flow<br>
                                      7. Adjust solids retention time (SRT) to enhance MLSS concentration
                                  </td>
                                  <td>2024-03-28 13:05:00</td>
                              </tr>
                              <tr>
                                  <td>Clarfier perfromance is detirorating</td>
                                  <td>
                                      1. Increase hydraulic retention time.<br>
                                      2. Reduce recirculation rate<br>
                                      3. Check the Bottom SV of clarifier<br>
                                      4. Follow MLSS to MLVSS ratio<br>
                                      5. Monitor and adjust sludge removal rate
                                  </td>
                                  <td>2024-03-28 18:45:00</td>
                              </tr>
                              <tr>
                                  <td>Chemical Precipitation Module TSS is deterioraing</td>
                                  <td>
                                      1. Optimize coagulant/flocculant dosing.<br>
                                      2. Increase settling time or add a sedimentation step.<br>
                                      3. Enhance filtration efficiency.<br>
                                      4. Implement advanced treatment processes like membrane filtration.<br>
                                      5. Regularly monitor and adjust treatment parameters.<br>
                                      6. Investigate source of TSS and implement source control measures.
                                  </td>
                                  <td>2024-03-28 09:25:00</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="alertTitle"><img src="../../../assets/image/alertIcon01.png">Parameter Alerts</div>
                  <div class="AlertsBox">
                      <table>
                          <thead>
                              <tr class="light-theme-bg">
                                  <th class="light-theme-bg">Alert Name</th>
                                  <th class="light-theme-bg">Suggested Action</th>
                                  <th class="light-theme-bg">Alert Date</th>
                              </tr>
                          </thead>
                      </table>
                      <table class="AlertsBody">
                          <tbody>
                              <tr>
                                  <td>ASP MLSS is high, sludge carryover is there in clarifier</td>
                                  <td>Adjust solids retention time (SRT) to enhance MLSS concentration</td>
                                  <td>2024-03-28 13:05:00</td>
                              </tr>
                              <tr>
                                  <td>Cod redcution is lower than 60%</td>
                                  <td>
                                      1. Increase hydraulic loading rate.<br>
                                      2. Adjust chemical dosing for optimal coagulation.<br>
                                      3. Optimize clarifier flocculation.<br>
                                      4. Minimize turbulence in clarifier<br>
                                      5. Increase detention time<br>
                                      6. Adjust sludge blanket depth<br>
                                      7. Monitor and adjust sludge withdrawal rate
                                  </td>
                                  <td>2024-03-28 18:45:00</td>
                              </tr>
                              <tr>
                                  <td>Clarifier bottom SV is low</td>
                                  <td>
                                      1. Monitor and adjust sludge recirculation<br>
                                      2. Increase MLSS<br>
                                      3. Increase DO level in biological process<br>
                                      4. Monitor and adjust the Recirculation.
                                  </td>
                                  <td>2024-03-28 09:25:00</td>
                              </tr>
                              <tr>
                                  <td>High TSS in Chemical outlet</td>
                                  <td>
                                      1. Adjust coagulant and flocculant dosing<br>
                                      2. Monitor and adjust inlet PH
                                  </td>
                                  <td>2024-03-28 09:25:00</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
</div>






  